In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv('all/train-set.csv')

In [3]:
df.head(10)

,Id,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,...,Soil_Type32,Soil_Type33,Soil_Type34,Soil_Type35,Soil_Type36,Soil_Type37,Soil_Type38,Soil_Type39,Soil_Type40,Cover_Type
0,1,2611,326,20,120,27,1597,168,214,184,...,0,0,0,0,0,0,0,0,0,6
1,2,2772,324,17,42,7,1814,175,220,183,...,0,0,0,0,0,0,0,0,0,2
2,3,2764,4,14,480,-21,700,201,212,148,...,0,0,0,0,0,0,0,0,0,2
3,4,3032,342,9,60,8,4050,202,227,164,...,0,0,0,0,0,0,0,0,0,2
4,5,2488,23,11,117,21,1117,209,218,151,...,0,0,0,0,0,0,0,0,0,2
5,6,2968,83,8,390,19,4253,232,226,127,...,0,0,0,0,0,0,0,0,0,2
6,7,3027,11,6,534,47,1248,214,228,151,...,0,0,0,0,0,0,0,0,0,2
7,8,3216,277,9,67,23,5430,212,236,169,...,0,0,0,0,0,0,0,0,0,1
8,9,3242,262,5,849,169,1672,207,242,173,...,0,0,0,0,0,0,0,0,0,1
9,10,3315,61,15,120,-6,3042,231,208,106,...,0,0,0,0,0,0,1,0,0,7

In [4]:
df['Elevation']=df['Elevation'].map(lambda x: 'x' if x<3100 and x>2900 else '7' if x<3200 and x>3100 else '6')
df = pd.get_dummies(df)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 528720 entries, 0 to 528719
Data columns (total 58 columns):
Id                                    528720 non-null int64
Aspect                                528720 non-null int64
Slope                                 528720 non-null int64
Horizontal_Distance_To_Hydrology      528720 non-null int64
Vertical_Distance_To_Hydrology        528720 non-null int64
Horizontal_Distance_To_Roadways       528720 non-null int64
Hillshade_9am                         528720 non-null int64
Hillshade_Noon                        528720 non-null int64
Hillshade_3pm                         528720 non-null int64
Horizontal_Distance_To_Fire_Points    528720 non-null int64
Wilderness_Area1                      528720 non-null int64
Wilderness_Area2                      528720 non-null int64
Wilderness_Area3                      528720 non-null int64
Wilderness_Area4                      528720 non-null int64
Soil_Type1                            528720 non-null int64
Soil_Type2                            528720 non-null int64
Soil_Type3                            528720 non-null int64
Soil_Type4                            528720 non-null int64
Soil_Type5                            528720 non-null int64
Soil_Type6                            528720 non-null int64
Soil_Type7                            528720 non-null int64
Soil_Type8                            528720 non-null int64
Soil_Type9                            528720 non-null int64
Soil_Type10                           528720 non-null int64
Soil_Type11                           528720 non-null int64
Soil_Type12                           528720 non-null int64
Soil_Type13                           528720 non-null int64
Soil_Type14                           528720 non-null int64
Soil_Type15                           528720 non-null int64
Soil_Type16                           528720 non-null int64
Soil_Type17                           528720 non-null int64
Soil_Type18                           528720 non-null int64
Soil_Type19                           528720 non-null int64
Soil_Type20                           528720 non-null int64
Soil_Type21                           528720 non-null int64
Soil_Type22                           528720 non-null int64
Soil_Type23                           528720 non-null int64
Soil_Type24                           528720 non-null int64
Soil_Type25                           528720 non-null int64
Soil_Type26                           528720 non-null int64
Soil_Type27                           528720 non-null int64
Soil_Type28                           528720 non-null int64
Soil_Type29                           528720 non-null int64
Soil_Type30                           528720 non-null int64
Soil_Type31                           528720 non-null int64
Soil_Type32                           528720 non-null int64
Soil_Type33                           528720 non-null int64
Soil_Type34                           528720 non-null int64
Soil_Type35                           528720 non-null int64
Soil_Type36                           528720 non-null int64
Soil_Type37                           528720 non-null int64
Soil_Type38                           528720 non-null int64
Soil_Type39                           528720 non-null int64
Soil_Type40                           528720 non-null int64
Cover_Type                            528720 non-null int64
Elevation_6                           528720 non-null uint8
Elevation_7                           528720 non-null uint8
Elevation_x                           528720 non-null uint8
dtypes: int64(55), uint8(3)
memory usage: 223.4 MB

In [5]:
train_data = df.values

In [6]:
print(train_data)

[[     1    326     20 ...      1      0      0]
 [     2    324     17 ...      1      0      0]
 [     3      4     14 ...      1      0      0]
 ...
 [528718    168     15 ...      0      1      0]
 [528719    283      9 ...      0      1      0]
 [528720    156     14 ...      0      1      0]]

In [7]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators = 10)

In [8]:
model = model.fit(train_data[0:,1:-1],train_data[0:,-1])

In [9]:
df_test = pd.read_csv('all/test-set.csv')

In [10]:
df_test.head(10)

,Id,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,...,Soil_Type31,Soil_Type32,Soil_Type33,Soil_Type34,Soil_Type35,Soil_Type36,Soil_Type37,Soil_Type38,Soil_Type39,Soil_Type40
0,528721,2953,224,9,55,11,1600,206,251,176,...,0,1,0,0,0,0,0,0,0,0
1,528722,2977,233,14,42,1,1282,196,252,192,...,0,0,0,0,0,0,0,0,0,0
2,528723,3055,227,9,120,5,2724,207,249,178,...,0,0,0,0,0,0,0,0,0,0
3,528724,2615,107,13,277,74,967,241,224,110,...,0,0,0,0,0,0,0,0,0,0
4,528725,3033,59,15,457,94,4086,233,213,99,...,0,0,0,0,0,0,0,0,0,0
5,528726,3054,336,12,381,80,3277,193,229,179,...,1,0,0,0,0,0,0,0,0,0
6,528727,3094,9,9,424,-80,1470,210,222,149,...,0,0,0,0,0,0,0,0,0,0
7,528728,2010,84,35,300,143,330,244,158,13,...,0,0,0,0,0,0,0,0,0,0
8,528729,2672,338,25,60,33,1422,158,196,172,...,0,0,1,0,0,0,0,0,0,0
9,528730,2929,88,8,42,0,3515,233,227,126,...,0,0,0,0,0,0,0,0,0,0

In [11]:
test_data = df_test.values

In [12]:
output = model.predict(test_data[:,1:])

ValueError: Number of features of the model must match the input. Model n_features is 56 and input n_features is 54

In [ ]:
print(output)

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
result = np.c_[test_data[:,0].astype(int), output.astype(int)]
df_result = pd.DataFrame(result[:,0:2], columns=['Id', 'Cover_Type'])

In [ ]:
print(df_result)

In [ ]:
df_result.to_csv('all/forest.csv', index=False)